@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error!!</title>
    </head>
    <body>
        <hgroup>
            <h1>@ViewBag.ErrorCode Error</h1>
            <h2>We seem to have encounter an error while processing your request. Please try something else.
            </h2>
        </hgroup>
    </body>
</html>