@model IEnumerable<RemliCMS.Models.MenuModel>

<div class="row">
    <div class="top">
    
        <div class="large-2 medium-2 small-2 columns">
            <a href="@Url.Action("Page","Home")"><img src="~/Content/logo.png" width="90" alt="desc" style="border:none" /></a>
        </div>
                        
        <div class="large-10 medium-10 small-10 columns">



            <div>
                <ul class ="button-group right">
                    @foreach (var item in Model)
                    {
                        if (item.IsActive && item.IsCurrent)
                        {
                            <li>
                                <a href="" class="current button tiny">
                                    @item.Title
                                </a>
                            </li>
                        }
                    
                        if (item.IsActive  && !item.IsCurrent)
                        {
                            <li>
                                <a href="/@ViewBag.TranslationUrl/@item.Permalink" class="button tiny">
                                    @item.Title
                                </a>
                            </li>
                        }
                    }
                    
                    @if (ViewBag.TranslationSwitcher == "on")    
                        {
                        Html.RenderAction("TranslationSwitcher", "Shared");   
                        }


                </ul>

            </div>

        </div>
    </div>
</div>
