@model IEnumerable<RemliCMS.WebData.Entities.Translation>
  
<a href="#" data-dropdown="drop1" class="tiny button dropdown">@ViewBag.currentName</a>      
<ul id="drop1" data-dropdown-content class="f-dropdown">
    @foreach (var item in Model)
    {
        if (item.IsActive && item.Code != ViewBag.currentCode)
        {
            <li>
                <a href="/@item.Url/@ViewBag.Permalink">@item.Name</a>
            </li>        
        }
    }

</ul>